{% extends '::base.html.twig' %}

{% block title %}My Devices::Login{% endblock %}

{% block stylesheets %}
    {% stylesheets output='css/amain.css' combine=true
        'vendor/bootstrap/dist/css/bootstrap.min.css'
        '@DevicesMyDevicesBundle/Resources/public/css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    {% javascripts output='js/afixie9.js' combine=true
        'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'
        'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <![endif]-->
{% endblock %}

{% block body %}
    <div class="container">
        {% block content %}
            {{ block('fos_user_content') }}
        {% endblock %}
    </div><!-- /.container -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/requirejs/require.js') }}"></script>

    <script>
        requirejs.config({
            baseUrl: '/assets/js',
            paths: {
                jquery: '../vendor/jquery/dist/jquery.min',
                jqueryCookie: '../vendor/jquery.cookie/jquery.cookie',
                bootstrap: '../vendor/bootstrap/dist/js/bootstrap.min'
            },
            shim: {
                jqueryCookie: ['jquery'],
                bootstrap: ['jquery']
            }
        });

        require(['jquery', 'jqueryCookie', 'bootstrap'], function($){
            $(function() {
                $.removeCookie('DEVICE_FINGERPRINT', { expires: 365, path: '/' });
            });
        });
    </script>
{% endblock %}

